In [5]:
import awswrangler as wr

DATABASE = "wishbone-glue-db"

In [8]:
query = "SELECT * FROM listing"
wr.athena.read_sql_query(query, database=DATABASE)

,listing_id,game_id,platform_id,price,discount_percent,recording_date,year,month,day
0,1,2,1,1,99,2025-11-18,2025,11,18