In [4]:
import awswrangler as wr

DATABASE = "wishbone-glue-db"

In [5]:
query = "SELECT * FROM listing"
wr.athena.read_sql_query(query, database=DATABASE)

,listing_id,game_id,platform_id,price,discount_percent,recording_date,year,month,day
0,3294,2053,1,846,0,2025-11-20,2025,11,20
1,3295,2054,1,677,20,2025-11-20,2025,11,20
2,3296,2055,1,242,65,2025-11-20,2025,11,20
3,3297,2056,1,769,0,2025-11-20,2025,11,20
4,3298,2057,1,769,0,2025-11-20,2025,11,20
...,...,...,...,...,...,...,...,...,...
4005,2044,2045,1,769,0,2025-11-19,2025,11,19
4006,2045,2046,1,192,75,2025-11-19,2025,11,19
4007,2046,2047,1,1154,0,2025-11-19,2025,11,19
4008,2047,2048,1,384,0,2025-11-19,2025,11,19
4009,2048,2049,1,384,0,2025-11-19,2025,11,19